# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/
.venv/

# Pytest / Test Reports & Artifacts
.pytest_cache/
reports/
*.html
*.xml
*.png

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
